@import "tailwindcss";




.contactInput {
  @apply w-full 
  px-6 
  py-5 
  rounded-xl 
  bg-transparent 
  border border-white/40 
  text-white 
  placeholder:text-gray-300 
  text-base
  focus:outline-none 
  focus:border-white 
  transition;
}